POSTGRES_DB=archive_nexus
POSTGRES_USER=archive_nexus
POSTGRES_PASSWORD=archive_nexus_local
ARCHIVEOS_BASE_URL=http://host.docker.internal:8090
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=archive_nexus_local
ARCHIVE_NEXUS_DISCORD_WEBHOOK_URL=
